@if (IsVisible)
{
    <div class="modal-backdrop fade show"></div>

    <div class="modal" tabindex="-1" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detalhes de @CharacterProfile.Name</h5>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">

                    <p>
                        <strong>Saúde:</strong> @CharacterProfile.Stats.CurrentHealth/@CharacterProfile.Stats.TotalMaxHealth
                        @if (CharacterProfile.Stats.TotalMaxHealth != CharacterProfile.Stats.MaxHealth)
                        {
                            <span> (Base: @CharacterProfile.Stats.MaxHealth</span>
                            @if (CharacterProfile.Stats.BonusMaxHealth != 0)
                            {
                                <span> + @CharacterProfile.Stats.BonusMaxHealth [B]</span>
                            }
                            @if (CharacterProfile.Stats.TemporaryMaxHealth != 0)
                            {
                                <span> + @CharacterProfile.Stats.TemporaryMaxHealth [T]</span>
                            }
                            <span>)</span>
                        }
                    </p>

                    <p>
                        <strong>Força:</strong> @CharacterProfile.Stats.BaseStrength
                        @if (CharacterProfile.Stats.TotalStrength != CharacterProfile.Stats.BaseStrength)
                        {
                            @if (CharacterProfile.Stats.BonusStrength != 0)
                            {
                                <span> + @CharacterProfile.Stats.BonusStrength [B]</span>
                            }
                            @if (CharacterProfile.Stats.TemporaryStrength != 0)
                            {
                                <span> + @CharacterProfile.Stats.TemporaryStrength [T]</span>
                            }
                            <span> = @CharacterProfile.Stats.TotalStrength</span>
                        }
                    </p>

                    <p>
                        <strong>Inteligência:</strong> @CharacterProfile.Stats.BaseKnowledge
                        @if (CharacterProfile.Stats.TotalKnowledge != CharacterProfile.Stats.BaseKnowledge)
                        {
                            @if (CharacterProfile.Stats.BonusKnowledge != 0)
                            {
                                <span> + @CharacterProfile.Stats.BonusKnowledge [B]</span>
                            }
                            @if (CharacterProfile.Stats.TemporaryKnowledge != 0)
                            {
                                <span> + @CharacterProfile.Stats.TemporaryKnowledge [T]</span>
                            }
                            <span> = @CharacterProfile.Stats.TotalKnowledge</span>
                        }
                    </p>

                    <p>
                        <strong>Defesa:</strong> @CharacterProfile.Stats.BaseDefense
                        @if (CharacterProfile.Stats.TotalDefense != CharacterProfile.Stats.BaseDefense)
                        {
                            @if (CharacterProfile.Stats.BonusDefense != 0)
                            {
                                <span> + @CharacterProfile.Stats.BonusDefense [B]</span>
                            }
                            @if (CharacterProfile.Stats.TemporaryDefense != 0)
                            {
                                <span> + @CharacterProfile.Stats.TemporaryDefense [T]</span>
                            }
                            <span> = @CharacterProfile.Stats.TotalDefense</span>
                        }
                    </p>

                    <p>
                        @if (CharacterProfile.Stats.Shield != 0)
                        {
                            <strong>Escudo: </strong>
                            @CharacterProfile.Stats.Shield
                        }
                    </p>

                    @if (CharacterProfile.StatusEffects.Count == 0)
                    {
                        <p>Nenhum efeito ativo.</p>
                    }
                    else
                    {
                        <h6>Efeitos Ativos:</h6>
                    }

                    @foreach (var effect in @CharacterProfile.StatusEffects)
                    {
                        @if (!effect.IsVisible) continue;
                        <div>
                            <strong>@effect.Name</strong> &nbsp; - &nbsp; Nível: @effect.Level &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Duração:
                            @if (effect.IsEndless)
                            {
                                <span> ???</span>
                            }
                            else
                            {
                                <span> @effect.Duration turnos</span>
                            }
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public BaseCharacter CharacterProfile { get; set; } = default!;

    [Parameter]
    public EventCallback OnClose { get; set; }

    public bool IsVisible { get; set; } = false;

    public void OpenModal(BaseCharacter pessoa)
    {
        CharacterProfile = pessoa;
        IsVisible = true;

        StateHasChanged();
    }

    private async Task CloseModal()
    {
        IsVisible = false;
        await OnClose.InvokeAsync();
    }
}