@if (IsVisible)
{
    <div class="modal-backdrop fade show"></div>

    <div class="modal" tabindex="-1" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detalhes de @CharacterProfile.Name</h5>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="CloseModal"></button>
                </div>
                <div class="modal-body">
                    <p><strong>Saúde:</strong> @CharacterProfile.Stats.CurrentHealth/@CharacterProfile.Stats.MaxHealth</p>

                    <p>
                        <strong>Força:</strong> @CharacterProfile.Stats.BaseStrength
                        @if (CharacterProfile.Stats.BonusStrength != 0)
                        {
                            <span> + @CharacterProfile.Stats.BonusStrength = @CharacterProfile.Stats.TotalStrength</span>
                        }
                    </p>

                    <p>
                        <strong>Inteligência:</strong> @CharacterProfile.Stats.BaseKnowledge
                        @if (CharacterProfile.Stats.BonusKnowledge != 0)
                        {
                            <span> + @CharacterProfile.Stats.BonusKnowledge = @CharacterProfile.Stats.TotalKnowledge</span>
                        }
                    </p>

                    <p>
                        <strong>Resistência:</strong> @CharacterProfile.Stats.BaseResistance
                        @if (CharacterProfile.Stats.BonusResistance != 0)
                        {
                            <span> + @CharacterProfile.Stats.BonusResistance = @CharacterProfile.Stats.TotalResistance</span>
                        }
                    </p>

                    <p>
                        @if (CharacterProfile.Stats.Shield != 0)
                        {
                            <strong>Escudo: </strong>
                            @CharacterProfile.Stats.Shield
                        }
                    </p>

                    @if (CharacterProfile.StatusEffects.Count == 0)
                    {
                        <p>Nenhum efeito ativo.</p>
                    }
                    else
                    {
                        <h6>Efeitos Ativos:</h6>
                    }

                    @foreach (var effect in @CharacterProfile.StatusEffects)
                    {
                        <div>
                            <strong>@effect.Name</strong> &nbsp; - &nbsp; Nível: @effect.Level &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp; Duração:
                            @if (effect.IsEndless)
                            {
                                <span> ???</span>
                            }
                            else
                            {
                                <span> @effect.Duration turnos</span>
                            }
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public Character CharacterProfile { get; set; } = default!;

    [Parameter]
    public EventCallback OnClose { get; set; }

    public bool IsVisible { get; set; } = false;

    public void OpenModal(Character pessoa)
    {
        CharacterProfile = pessoa;
        IsVisible = true;

        StateHasChanged();
    }

    private async Task CloseModal()
    {
        IsVisible = false;
        await OnClose.InvokeAsync();
    }
}